* {
    padding: 0px;
    margin: 0px;

}
body {
    
    height: 100vh;
    background-image: linear-gradient(to bottom, #9AEBA3, #DAFDBA);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    background-color: #012030;
    padding: 10px;
    color: white;
    text-align: center;
}

#frame {
    height: 330px;
    width: 200px;
    padding: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #13678A;
    border-radius: 10px;
   
  

}

.button:hover {
    background-color: #45c4b1a6;
    color: white;
    transition: all 500ms ease-in-out;
    
}

.button {
    height: 50px;
    width: 46px;
    margin-top: 2px;
    font-weight: 600;
    font-size: 18px;
    background-color: #54dac5;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 9px 13px;
}

#view1, #view2 {
    background-color: white;
    height: 30px;
    width: 200px;
    text-align: right;
    color: black;
    font-size: 1.5em;
    

}


